################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsolePingIP/v16
/ConsolePingIP/bin/Debug
/ConsolePingIP/obj/Debug
